ion-slides {
    --bullet-background: linear-gradient( #780206 0%, #061161 100%);
    --bullet-background-active: linear-gradient( #780206 0%, #061161 100%);

    .step-one, .step-three, .step-five {
        background-color: linear-gradient( #780206 0%, #061161 100%);
        color: black;
    }
    .step-two, .step-four {
        background-color: linear-gradient( #780206 0%, #061161 100%);
        color: white;
    }    
    
    ion-slide {
        height: 80vh;
        flex-direction: column;
        // background-color: red;
    
        ion-img {
            position: absolute;
            top: 20vh;
            width: 50vw;
            // height: 20vh;
            // max-width: 50vw;
            max-height: 50vh;
            overflow: hidden;
        }

        #img3 {
            // width: 65vw;
            margin: -1em 0 0 1em;
        }

        h1 {
            position: absolute;
            top: 53vh;
            // bottom: 40vh;
            left: 0;
            right: 0;
            margin: 0;
            padding: 0 2em;
            color: #b9b9b9;
        }

        p {
            position: absolute;
            top: 65vh;
            left: 0;
            right: 0;
            margin: 0;
            padding: 0 2em;
            color: #b9b9b9;
        }

        ion-button {
            position: absolute;
            bottom: 8vh;
        }

    }
}

.ios {

    ion-img {
        top: 18vh;
    }

    h1, p {
        padding: 0 1.5em;
    }

    h1 {
        top: 52vh;
    }

    // p {
    //     top: 64vh;
    // }

}
// .step-three {
//     background-color: var(--ion-color-dark);
//     color: var(--ion-color-dark-contrast);
// }

ion-footer {
    background-color: #e0d125;
}

ion-toolbar {
    --background: transparent;
}