<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons *ngIf="!footer" slot="end" (click)="finish()">
            <ion-button color="primary">
              Skip
            </ion-button>
          </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen scroll-y="false">
    <ion-slides pager="true" #slides (ionSlideDidChange)="slideChanged($event)">
        <ion-slide class="step-one">
            <ion-img src="../../../assets/intro/alucard.png"></ion-img>
            <div>
                <h1><b>All Heroes Infomation</b></h1>
                <p>Consistent updates heroes upon released</p>
            </div>
        </ion-slide>
        <ion-slide class="step-two">
            <ion-img id="img2" src="../../../assets/intro/knight.png"></ion-img>
            <div>
                <h1><b>Latest News Updates</b></h1>
                <p>Get information for the current and pass patch notes</p>
            </div>
        </ion-slide>
        <ion-slide class="step-four">
            <ion-img id="img4" src="../../../assets/intro/legend.png"></ion-img>
            <div>
                <h1><b>Useful Tools and Chart</b></h1>
                <p>Tools like equipment calculator, retribution damage chart and much more!</p>

            </div>

        </ion-slide>

    </ion-slides>
</ion-content>
<ion-footer class="fadeIn" *ngIf="footer">
    <ion-button fill="solid" expand="full" (click)="finish()">Let's Get Started!</ion-button>
</ion-footer>