ion-back-button {
    color: #CABD24;
}

ion-button {
    color: #CABD24;
}

ion-row {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

img{
    background-color: #ffc409;

}

#p-padd p {
    padding: 2px 0 2px 0;
    text-align: center;
}

.card {
    color: rgb(190, 189, 189);
    margin: 0em 0 1em 0;
    background-color: #272424;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.pass-margin {
    padding-bottom: 5px;
} 

#passive {
    margin-bottom: 4em;
}