ion-content{
  --background: #020000;
}

#avatar {
  display: block;
  margin: 0 auto;
  height: 70px;
  width: 70px;
  border-style: groove;
  border-width: 2px;
  border-color: rgb(199, 63, 63);
  
  
}

p {
  text-align: center;
  margin-top: 5px !important;
  color: #CABD24;
  font-size: small;
  font-weight:450;
}

ion-icon{
  color: #CABD24;
}


.container { // Countdown Banner
  color: white;
  text-align: center;
  z-index: 10 !important;
  padding: 0em 0em 0.5em 0em;

  // .head {
  //     font-weight: normal;
  //     font-size: 10.72px !important;
  //     margin: 8px 0px;
  // }

  p, ul {
      padding: 0px;
      margin: 0px;
  }

  li {
      display: inline-block;
      font-size: 10.72px; // h6
      list-style-type: none;
      padding: 0.5em;
      text-transform: uppercase;
      font-weight: bolder;
      
      span {
          display: block;
          font-size: 24px; // h2
      }
  }

}

.day1, .day2, .day3, .day4{ // Day Tracker Banner
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0em 0em 0.5em 0em;
  align-items: center;
  color: white;
  height: 5em;

  h3 {
      width: 80%;
      text-align: center;
  }
}

#poster {
  display: block;
}

.slide-card {
  border-radius: 8px;
}