<ion-header>
  <ion-toolbar>
    <ion-title>
      Stay in Touch!
    </ion-title>
    <ion-buttons slot="end" (click)="close()">
      <ion-button>
        <ion-icon slot="icon-only" name="close-outline" style="color: #b9b9b9;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
    <h1>Keep in touch with us!</h1>
    <p style="text-align: center;">For more apps done by us, stay connected!</p>
  </div>
  <ion-card>
  <div>
    
      <ion-list lines="none" mode="md" >
        <ion-list-header class="header" mode='md'><strong>Connect with us on:</strong></ion-list-header>
        <ion-item mode='md'>
          <ion-icon slot="end" name="mail" style="color: #D44638"></ion-icon>
          <ion-label>
            <h2>Email</h2>
           
            <p>treesincstudio@gmail.com</p>
          </ion-label>
        </ion-item>
        <ion-item mode='md'>
          <ion-icon slot="end" name="logo-youtube" style="color: crimson"></ion-icon>
          <ion-label>
            <h2>YouTube</h2>
            
            <p>TreesInc</p>
          </ion-label>
        </ion-item>
        <ion-item mode='md'>
          <ion-icon slot="end" name="logo-instagram" style="color: #E1306C"></ion-icon>
          <ion-label>
            <h2>Instagram</h2>
            <p>@treesincstudio</p>
          </ion-label>
        </ion-item>
        <ion-item mode='md'>
          <ion-icon slot="end" name="game-controller" style="color: #0E7A0D"></ion-icon>
          <ion-label>
            <h2>Mobile Legends</h2>
            
            <p>Sephylon0(22946178)</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
  </div>
</ion-card>
</ion-content>