div {
    color: #b9b9b9;
}
h1{
    text-align: center;
    font-weight: 300;
    font-size: 32px;
}
ion-item{
    color: #b9b9b9;
    --background: #272424;
}

ion-list {
    color: #b9b9b9;
    background-color:#272424;
}

ion-list-header {
    color: #b9b9b9;
}

ion-card {
    --background: #272424;
}