#paypal {
    width: 100%;
    text-align: center;
}

#top {
    width: 100%;
    margin-top: auto;
}

#paynow {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

ion-button {
    margin-top: 3em;
}

p {
    color: #b9b9b9;
}

h3 {
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    color: #b9b9b9;
}

img {
    width: 60%;
}

ion-back-button {
    color: #CABD24;
}
