super-tabs-toolbar {
    background-color: #1b1b1b;
}

ion-label {
    color: #999999;
}

// ion-footer {
//     background-color: #2dd36f;
// }

p {
    margin-top: 0;
    color: #999999;
    font-size: 14px;
}

#equipment-icon {
    display: block;
    margin: 0 auto;
    height: 60px;
    width: 60px;
}

#footer-avatar {
    display: block;
    margin: 0 auto;
}

ion-content {
    max-width: 600px;
    background-color: #190a05;
}

super-tabs-container {
    background-color: #190a05;
}