div {
    color:#b9b9b9;
}

h4 {
    text-align: center;
    font-weight: 300;
}

ion-card-content {
    padding-top: 10px;
    color:#b9b9b9;
    text-align: center;
}

.center {
    margin-bottom: 0px;
    padding-top: 10px;
    font-size: 14px;
    text-align: center;
}


.card {
    background-color: #272424;
}

#p-padd p {
    padding: 2px 0 2px 0;
    text-align: center;
}