ion-label {
    color: #999999;
}

p {
    color: #999999;
    font-size: 14px;
}
ion-col {
    padding-top: 20px;
    // width: 100%;
    padding-bottom: 20px;
    border-bottom: solid;
    border-width: 1px;
    border-color: #999999;
}

img {
    height: 75px;
    width: 75px;
}

ion-content {
    max-width: 600px;
    
    background-color: #190a05;
}

super-tabs-container {
    background-color: #190a05;
}

ion-back-button {
    color: #CABD24;
}